<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openscada.da.ui.connection.views.ConnectionContentProvider"
            id="org.openscada.da.ui.connection.provider"
            labelProvider="org.openscada.da.ui.connection.views.ConnectionLabelProvider"
            name="DA Connections"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.openscada.da.ui.connection.internal.FolderEntryWrapper">
               </instanceof>
               <and>
                  <instanceof
                        value="org.openscada.core.ui.connection.data.ConnectionHolder">
                  </instanceof>
                  <test
                        property="org.openscada.core.ui.connection.data.ConnectionHolder.interfaceName"
                        value="da">
                  </test>
               </and>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.openscada.da.ui.connection.internal.FolderEntryWrapper">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <dragAssistant
            class="org.openscada.da.ui.connection.dnd.CommonDragAdapterAssistant"
            viewerId="org.openscada.core.ui.connection.ConnectionView">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.openscada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/stock_write.png"
               label="Write"
               style="push">
            <parameter
                  name="newWizardId"
                  value="org.openscada.da.client.test.newWizards.NewWriteOperation">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
               </iterate>
            </visibleWhen>
         </command>
		<command
        commandId="org.eclipse.ui.newWizard"
        icon="icons/stock_write.png"
        label="Write Attributes"
        style="push">
            <parameter
                  name="newWizardId"
                  value="org.openscada.da.client.test.newWizards.NewWriteAttributesOperation">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
