<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openscada.hd.ui.perspectives.PerspectiveFactory"
            id="org.openscada.hd.ui.perspective"
            name="%perspective.hd.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.openscada.hd.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.openscada.hd.ui.perspective">
         <view
               closeable="true"
               id="org.openscada.hd.ui.ConnectionView"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.openscada.hd.ui.QueryControlView"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="bottom"
               relative="org.openscada.hd.ui.ConnectionView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.openscada.hd.ui.QueryDataView"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.openscada.hd.ui.category"
            class="org.openscada.hd.ui.views.ConnectionView"
            fastViewWidthRatio="0.25"
            id="org.openscada.hd.ui.ConnectionView"
            name="%view.connections.name"
            restorable="true">
      </view>
      <category
            id="org.openscada.hd.ui.category"
            name="%category.hd.name">
      </category>
      <view
            allowMultiple="false"
            category="org.openscada.hd.ui.category"
            class="org.openscada.hd.ui.views.QueryControlView"
            id="org.openscada.hd.ui.QueryControlView"
            name="%view.queryControl.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.openscada.hd.ui.category"
            class="org.openscada.hd.ui.views.QueryDataView"
            id="org.openscada.hd.ui.QueryDataView"
            name="%view.queryData.name"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.openscada.hd.ui.category"
            class="org.openscada.hd.ui.views.TrendView"
            id="org.openscada.hd.ui.TrendView"
            name="%view.trendView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.hd.ui.oc.ConnectionEntry"
            objectClass="org.openscada.hd.ui.data.ConnectionEntryBean">
         <action
               class="org.openscada.hd.ui.actions.DisconnectAction"
               enablesFor="1"
               id="org.openscada.hd.ui.DisconnectAction"
               label="%action.disconnect.label"
               menubarPath="additions">
         </action>
         <action
               class="org.openscada.hd.ui.actions.ConnectAction"
               enablesFor="1"
               id="org.openscada.hd.ui.ConnectAction"
               label="%action.connect.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.hd.ui.oc.HistoricalItemEntry"
            objectClass="org.openscada.hd.ui.data.HistoricalItemEntryBean">
         <action
               class="org.openscada.hd.ui.actions.CreateQueryAction"
               enablesFor="1"
               id="org.openscada.hd.ui.CreateQueryAction"
               label="%action.createQuery.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.hd.ui.oc.QueryBufferBean"
            objectClass="org.openscada.hd.ui.data.QueryBufferBean">
         <action
               class="org.openscada.hd.ui.actions.CloseQuery"
               enablesFor="1"
               id="org.openscada.hd.ui.CloseQueryAction"
               label="%action.closeQuery.label"
               menubarPath="additions">
         </action>
         <action
               class="org.openscada.hd.ui.actions.RemoveQuery"
               enablesFor="1"
               id="org.openscada.hd.ui.RemoveQueryAction"
               label="%action.removeQuery.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
