<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 This file is part of the openSCADA project
 
 Copyright (C) 2013 Jens Reimann (ctron@dentrassi.de)
 
 openSCADA is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License version 3
 only, as published by the Free Software Foundation.
 
 openSCADA is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License version 3 for more details
 (a copy is included in the LICENSE file that accompanied this code).
 
 You should have received a copy of the GNU Lesser General Public License
 version 3 along with openSCADA. If not, see
 <http://opensource.org/licenses/lgpl-3.0.html> for a copy of the LGPLv3 License.
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated exec -->
      <factory
            uri="http://openscada.org/DA/Exec/Configuration"
            class="org.eclipse.scada.da.exec.configuration.provider.ConfigurationItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
