<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.openscada.da.client.dataitem.details.DetailsViewPart">
      <detailsPart
            class="org.openscada.da.client.dataitem.details.extra.part.ManualOverride"
            name="%detailsPart.manualOverride.name"
            sortKey="5000">
      </detailsPart>
      <detailsPart
            class="org.openscada.da.client.dataitem.details.extra.part.LevelPresets"
            name="%detailsPart.levelPresets.name"
            sortKey="3000">
      </detailsPart>
      <detailsPart
            class="org.openscada.da.client.dataitem.details.extra.part.InputScaleDetails"
            name="%detailsPart.inputScale.name"
            sortKey="1000">
      </detailsPart>
      <detailsPart
            class="org.openscada.da.client.dataitem.details.extra.part.RoundDetailsPart"
            name="%detailsPart.rounding.name"
            sortKey="1500">
      </detailsPart>
   </extension>

</plugin>
