<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openscada.ae.client.test.PerspectiveFactory"
            id="org.openscada.ae.client.test.perspective"
            name="AE Perspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.openscada.ae.client.test.perspective">
         <perspectiveShortcut id="org.openscada.da.client.test.perspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.openscada.ae.caterory"
            name="OpenSCADA AE"/>
      <view
            category="org.openscada.ae.caterory"
            class="org.openscada.ae.client.test.view.StorageView"
            id="org.openscada.ae.client.test.views.StorageView"
            name="Storage View"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.openscada.ae.client.StorageView.va1"
            targetID="org.openscada.ae.client.test.views.StorageView">
         <action
               class="org.openscada.ae.client.test.actions.ConnectStorageAction"
               icon="icons/stock_connect.png"
               id="org.openscada.ae.client.StorageView.connectAction"
               label="Connect"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Connect to Storage">
            <enablement>
            	<and>
               <objectClass name="org.openscada.ae.client.test.impl.StorageConnection"/>
               <objectState
                     name="state"
                     value="CLOSED"/>
                     </and>
            </enablement>
         </action>
         <action
               class="org.openscada.ae.client.test.actions.DisconnectStorageAction"
               icon="icons/stock_disconnect.png"
               id="org.openscada.ae.client.StorageView.disconnectAction"
               label="Disconnect"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Disconnect from Storage">
            <enablement>
            	<and>
               <objectClass name="org.openscada.ae.client.test.impl.StorageConnection"/>
               <not>
                  <objectState
                        name="state"
                        value="CLOSED"/>
               </not>
               </and>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.ae.client.test.popMenu.oc1"
            objectClass="org.openscada.ae.client.test.impl.StorageConnection">
         <visibility>
            <objectClass name="org.openscada.ae.client.test.impl.StorageConnection"/>
         </visibility>
         <action
               class="org.openscada.ae.client.test.actions.ConnectStorageAction"
               icon="icons/stock_connect.png"
               id="org.openscada.ae.client.PopupMenu.connectAction"
               label="Connect"
               menubarPath="addition">
            <enablement>
               <objectState
                     name="state"
                     value="CLOSED"/>
            </enablement>
         </action>
         <action
               class="org.openscada.ae.client.test.actions.DisconnectStorageAction"
               icon="icons/stock_disconnect.png"
               id="org.openscada.ae.client.PopupMenu.disconnectAction"
               label="Disconnect"
               menubarPath="addition">
            <enablement>
               <not>
                  <objectState
                        name="state"
                        value="CLOSED"/>
               </not>
            </enablement>
         </action>
      </objectContribution>
   </extension>

</plugin>
