<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="idNameProvider" class="org.openscada.da.server.browser.common.query.IDNameProvider">
</bean>

<bean name="csv1GroupProvider" class="org.openscada.da.server.browser.common.query.SplitGroupProvider">
	<property name="nameProvider" ref="idNameProvider"/>
	<property name="regex" value="\."/>
	<property name="skipSuffix" value="1"/>
</bean>	

<bean id="csvFolder1" class="org.openscada.da.server.browser.common.query.GroupFolder">
	<constructor-arg ref="csv1GroupProvider"/>
	<constructor-arg ref="idNameProvider"/>
</bean>

<bean id="csvFolder1Controller" class="org.openscada.da.server.browser.common.query.GroupFolder">
	<constructor-arg ref="csv1GroupProvider"/>
	<constructor-arg>
		<bean class="org.openscada.da.server.browser.common.query.IDNamePatternProvider">
			<property name="namePattern" value="(.*)\#controller"/>
			<property name="matchGroup" value="1"/>
		</bean>
	</constructor-arg>
</bean>


<bean class="org.openscada.da.server.spring.tools.csv.CSVLoader">
	<property name="hive" ref="hive"/>
	<property name="itemPrefix" value="csv1."/>
	<property name="mapping" value="id,readable,writeable,description,initialValue"/>
	<!-- <property name="resource" value="classpath:test.csv"/> -->
	<property name="skipLines" value="2"/>
	<property name="data">
		<value><![CDATA[
"id","readable","writeable","description","initialValue"
"testRead",true,false,"Test Read Item","str"
"testWrite",false,true,"Test Write Item",""
"testReadWrite",true,true,"Test Read/Write Item","BOOLEAN#true"
"testReadWrite2",true,true,"Test Read/Write Item","INTEGER#123"
		]]></value>
	</property>
	<property name="storages">
		<list>
			<ref bean="csvFolder1"/>
		</list>
	</property>
	<property name="controllerStorages">
		<list>
			<ref bean="csvFolder1Controller"/>
		</list>
	</property>
</bean>
  
  
  <bean id="hive" class="org.openscada.da.server.spring.Hive">
  	<property name="rootFolder">
		<bean class="org.openscada.da.server.spring.Folder">
			<property name="folders">
				<map>
					<entry key="test">
						<bean class="org.openscada.da.server.spring.FolderEntry">
							<property name="folder">
								<bean class="org.openscada.da.server.spring.Folder">
									<property name="folders">
										<map>
											<entry key="Memory Cell #1">
												<bean class="org.openscada.da.server.spring.DataItemEntry">
													<property name="item" ref="memoryCell1"/>
												</bean>
											</entry>
										</map>
									</property>
								</bean>
							</property>
						</bean>
					</entry>
					
					<entry key="csv1 items">
						<bean class="org.openscada.da.server.spring.FolderEntry">
							<property name="folder" ref="csvFolder1"/>
							<property name="attributes">
								<map>
									<entry key="description" value="The folder with csv1 items"/>
								</map>
							</property>
						</bean>
					</entry>
					
					<entry key="csv1 controller">
						<bean class="org.openscada.da.server.spring.FolderEntry">
							<property name="folder" ref="csvFolder1Controller"/>
							<property name="attributes">
								<map>
									<entry key="description" value="The folder with csv1 controller items"/>
								</map>
							</property>
						</bean>
					</entry>
				</map>
			</property>
		</bean>
  	</property>
  </bean>
  
  <bean id="memoryCell1" class="org.openscada.da.server.common.MemoryDataItem">
  	<constructor-arg><value>memory1</value></constructor-arg>
  </bean>
  
</beans>