<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.openscada.da.client.connector">
      <driverAdapter
            class="org.openscada.da.net.client.DriverAdapter"
            interface="da"
            name="OpenSCADA DA NET"
            type="net">
      </driverAdapter>
   </extension>

</plugin>
