<?xml version="1.0" encoding="UTF-8"?>

<project name="openscada_da_doc_net" default="html">

	<property name="prj.dir" value="../../.." />
	<property name="fop.dir" value="${prj.dir}/fop" />
	<property name="deploy.dir" value="documentation/specifications/da/level0/net"/>
	
	<property name="db.lib" location="${prj.dir}/spring-db"/>
	
	<taskdef name="fop" 
	         classname="org.apache.fop.tools.anttasks.Fop">
	         <classpath>
	            <pathelement location="${fop.dir}/fop.jar"/>
	            <pathelement location="${fop.dir}/avalon-framework-cvs-20020806.jar"/>
	            <pathelement location="${fop.dir}/batik.jar"/>
	         	<pathelement location="${prj.dir}/docbook/extensions/docbook-xsl-xalan25.jar" />
	         </classpath>
	</taskdef>
	
	<target name="all" depends="clean, render_html, render_pdf"/>
	
	<target name="clean">
		<delete dir="html" />
		<delete file="main.fo" />
		<delete file="main.pdf" />
		<delete file="messages_as_db.xml" />
	</target>
	
	<target name="render_html" depends="clean, html"/>
	
	<target name="html" depends="messages_as_db.xml">
		
		<mkdir dir="${basedir}/html"/>
		
		<java classname="com.icl.saxon.StyleSheet" fork="true" dir="${basedir}/html/">
  			<classpath>
  				<fileset dir="${db.lib}">
  					<include name="**/*.jar"/>
  				</fileset>
  			</classpath>
  			<jvmarg value="-Xmx256M"/>
  			<jvmarg value="-XX:MaxPermSize=128m"/>
  			<arg value="${basedir}/main.xml"/>
  			<arg value="${basedir}/xhtml.xsl"/>
  		</java>

		
	</target>
	
	<target name="pdf_fo" depends="messages_as_db.xml">
		<java classname="com.icl.saxon.StyleSheet" fork="true" dir="${basedir}">
  			<classpath>
  				<fileset dir="${db.lib}/">
  					<include name="**/*.jar"/>
  				</fileset>
  			</classpath>
  			<jvmarg value="-Xmx256M"/>
  			<jvmarg value="-XX:MaxPermSize=128m"/>
  			<arg value="-o"/>
  			<arg value="${basedir}/docbook_fop.tmp"/>
  			<arg value="${basedir}/main.xml"/>
  			<arg value="${basedir}/pdf.xsl"/>
  			<!-- controls the double sided pagination style -->
  			<arg value="double.sided=${double.sided}"/>
  		</java>
	</target>
		
	<target name="render_pdf" depends="clean, pdf"/>
	<target name="pdf" depends="pdf_fo">
		<fop
			fofile="main.fo"
			outfile="main.pdf"
			/>
	</target>
	
	<target name="messages_as_db.xml">
		<xslt style="messages2db.xsl"
							in="messages.xml"
							out="messages_as_db.xml"
							>
		</xslt>
	</target>
	

</project>