<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.openscada.da.client.dataitem.details.DetailsViewPart">
      <detailsPart
            class="org.openscada.da.client.dataitem.details.extra.ManualOverride"
            name="Manual Override">
      </detailsPart>
      <detailsPart
            class="org.openscada.da.client.dataitem.details.extra.LevelPresets"
            name="Level Presets">
      </detailsPart>
   </extension>

</plugin>
