<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.openscada.da.ui.category"
            class="org.openscada.da.client.chart.view.ChartView2"
            id="org.openscada.da.client.chart.ChartView"
            name="%view.chartView.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.chart.oc1"
            objectClass="org.openscada.da.client.base.browser.DataItemEntry">
         <action
               class="org.openscada.da.client.chart.action.OpenChartAction"
               id="org.openscada.da.client.chart.OpenChartAction"
               label="%action.viewAsChart.label"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.chart.oc2"
            objectClass="org.openscada.da.client.base.realtime.ListEntry">
         <action
               class="org.openscada.da.client.chart.action.OpenChartAction"
               id="org.openscada.da.client.chart.OpenChartAction"
               label="%action.viewAsChart.label"
               menubarPath="additions"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.openscada.da.ui.category"
            id="org.openscada.da.client.chart.commands.OpenCharView"
            name="Open Chart">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openscada.da.client.chart.commands.OpenCharView"
            commandId="org.openscada.da.client.chart.commands.OpenCharView">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.openscada.da.ui.connection.data.Item">
                     </instanceof>
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.openscada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.openscada.da.client.chart.commands.OpenCharView"
               label="Open Chart View"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.openscada.da.ui.connection.data.Item">
                     </instanceof>
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
