<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.openscada.da.client.test.perspective">
         <actionSet id="org.openscada.da.client.viewer.ActionSet1"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.openscada.da.ui.category"
            class="org.openscada.da.client.viewer.views.ProcessView"
            id="org.openscada.da.client.viewer.ProcessView"
            name="Process Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.openscada.da.client.viewer.ActionSet1"
            label="Action Set"
            visible="false">
         <action
               class="org.openscada.da.client.viewer.OpenProcessViewAction"
               id="org.openscada.da.client.viewer.OpenProcessViewAction"
               label="Main Process View"
               menubarPath="processViewMenu/processViewGroup"
               style="push"/>
         <menu
               id="processViewMenu"
               label="Process Views">
            <separator name="processViewGroup"/>
         </menu>
      </actionSet>
   </extension>

</plugin>
