<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openscada.hd.ui.connection.views.ConnectionContentProvider"
            id="org.openscada.hd.ui.connection.provider"
            labelProvider="org.openscada.hd.ui.connection.views.ConnectionLabelProvider"
            name="%navigatorContent.name"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.openscada.core.ui.connection.data.ConnectionHolder">
                  </instanceof>
                  <test
                        property="org.openscada.core.ui.connection.data.ConnectionHolder.interfaceName"
                        value="hd">
                  </test>
               </and>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.ItemWrapper">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.QueryWrapper">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.ItemListWrapper">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.QueryBufferBean">
               </instanceof>
            </or></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.QueryWrapper">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.ItemWrapper">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.QueryBufferBean">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.ItemListWrapper">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <dragAssistant
            class="org.openscada.hd.ui.connection.dnd.CommonDragAdapterAssistant"
            viewerId="org.openscada.core.ui.connection.ConnectionView">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openscada.hd.ui.connection.handler.CreateQueryHandler"
            commandId="org.openscada.hd.ui.connection.command.CreateQuery">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.openscada.hd.ui.connection.internal.ItemWrapper">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.openscada.hd.ui.connection.handler.CloseQueryHandler"
            commandId="org.openscada.hd.ui.connection.command.CloseQueries">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.openscada.hd.ui.connection.internal.QueryBufferBean">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.openscada.hd.ui.connection.handler.RemoveQueryHandler"
            commandId="org.openscada.hd.ui.connection.command.RemoveQueries">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.openscada.hd.ui.connection.internal.QueryBufferBean">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.openscada.hd.ui.category"
            id="org.openscada.hd.ui.connection.command.CreateQuery"
            name="%command.createQuery.name">
      </command>
      <command
            categoryId="org.openscada.hd.ui.category"
            id="org.openscada.hd.ui.connection.command.CloseQueries"
            name="%command.closeQuery.name">
      </command>
      <command
            categoryId="org.openscada.hd.ui.category"
            id="org.openscada.hd.ui.connection.command.RemoveQueries"
            name="%command.removeQuery.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.openscada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.openscada.hd.ui.connection.command.CreateQuery"
               label="%command.createQuery.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.openscada.hd.ui.connection.command.CloseQueries"
               label="%command.closeQuery.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.openscada.hd.ui.connection.command.RemoveQueries"
               label="%command.removeQuery.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
