<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openscada.hd.ui.connection.views.ConnectionContentProvider"
            id="org.openscada.hd.ui.connection.provider"
            labelProvider="org.openscada.hd.ui.connection.views.ConnectionLabelProvider"
            name="HD Connections"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.openscada.core.ui.connection.data.ConnectionHolder">
                  </instanceof>
                  <test
                        property="org.openscada.core.ui.connection.data.ConnectionHolder.interfaceName"
                        value="hd">
                  </test>
               </and>
            </or></triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <dragAssistant
            class="org.openscada.hd.ui.connection.dnd.CommonDragAdapterAssistant"
            viewerId="org.openscada.core.ui.connection.ConnectionView">
      </dragAssistant>
   </extension>

</plugin>
