<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.openscada.hd.ui.connection.views.ConnectionContentProvider"
            id="org.openscada.da.ui.connection.provider"
            labelProvider="org.openscada.hd.ui.connection.views.ConnectionLabelProvider"
            name="DA Connections"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.openscada.core.ui.connection.data.ConnectionHolder">
               </instanceof>
               <instanceof
                     value="org.openscada.hd.ui.connection.internal.FolderEntryWrapper">
               </instanceof>
            </or></triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <dragAssistant
            class="org.openscada.hd.ui.connection.dnd.CommonDragAdapterAssistant"
            viewerId="org.openscada.core.ui.connection.ConnectionView">
      </dragAssistant>
   </extension>

</plugin>
