<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openscada_da_server_net/src/org/openscada/da/server/net/Application.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DATA_COLLECTOR" value="org.eclipse.tptp.trace.jvmti.jvmtiMechanism:org.eclipse.tptp.analysisType.jvmti.heap"/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DESTINATION_FILE" value=""/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DESTINATION_MONITOR" value="DefaultMonitor"/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DESTINATION_PROJECT" value="ProfileProject"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_PROFILE_TO_FILE" value="false"/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_PROFILING_SET" value="tptp-dummy-profiling-set-OpenSCADA DA [NET] OPC Server"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-sun-1.6.0.13"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.openscada.da.server.net.Application"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="org.openscada.da.server.opc2.Hive"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="server_starter_opc"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcom.sun.management.jmxremote.port=9013&#10;-Dcom.sun.management.jmxremote.authenticate=false&#10;-Dcom.sun.management.jmxremote.ssl=false&#10;-Dopenscada.da.net.server.port=12027&#10;-Drpc.socketTimeout=5000"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_AFTERCALL" value="false"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_BEFORECALL" value="false"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_CATCH" value="true"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_ENTRY" value="true"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_EXECUNIT" value="true"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_EXIT" value="true"/>
<booleanAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.CBE_STATUS_STATICINIT" value="true"/>
<stringAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.SELECTED_CBE_OUTPUT" value="console"/>
<stringAttribute key="org.eclipse.tptp.monitoring.instrumentation.ui.SELECTED_CBE_SCENARIO" value="method"/>
<stringAttribute key="org.eclipse.tptp.platform.instrumentation.ui.CURRENT_INSTRUMENT_POINT" value="org.eclipse.tptp.monitoring.instrumentation.cbeMethodInstrumentPoint"/>
<booleanAttribute key="org.eclipse.tptp.platform.instrumentation.ui.ENABLE_CBE_INSTRUMENT_FILTER_SET" value="false"/>
<stringAttribute key="org.eclipse.tptp.platform.instrumentation.ui.SELECTED_INSTRUMENT_COLLECTOR" value="org.eclipse.tptp.platform.instrumentation.ui.instrumentCollector.jvmti"/>
<listAttribute key="org.eclipse.tptp.platform.instrumentation.ui.SELECTED_INSTRUMENT_FILES">
<listEntry value="/home/jens/workspace_openscada/server_starter_opc/src/JMXProbe.probescript"/>
<listEntry value="/home/jens/workspace_openscada/server_starter_opc/src/CbeProbe.probescript"/>
</listAttribute>
<booleanAttribute key="org.eclipse.tptp.platform.jvmti.client.ATTR_EXEC_AUTO_POLLING" value="false"/>
<booleanAttribute key="org.eclipse.tptp.platform.jvmti.client.ATTR_EXEC_CPU_TIME" value="true"/>
<booleanAttribute key="org.eclipse.tptp.platform.jvmti.client.ATTR_EXEC_FLOW" value="true"/>
<booleanAttribute key="org.eclipse.tptp.platform.jvmti.client.ATTR_EXEC_MANUAL_POLLING" value="false"/>
<intAttribute key="org.eclipse.tptp.platform.jvmti.client.ATTR_EXEC_POLLING_TIME" value="60"/>
</launchConfiguration>
