<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modbus -->
      <package
            uri="http://openscada.org/DA/Modbus/Configuration"
            class="org.openscada.da.modbus.configuration.ConfigurationPackage"
            genModel="model/modbus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated modbus -->
      <parser
            type="configuration"
            class="org.openscada.da.modbus.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>

</plugin>
