<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.openscada.da.category"
            class="org.openscada.da.client.signalgenerator.GeneratorView"
            icon="icons/thread_obj.gif"
            id="org.openscada.da.client.signalGenerator.GeneratorView"
            name="%view.signalGenerator.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.signalGenerator.popupMenus.oc1"
            objectClass="org.openscada.da.client.base.browser.DataItemEntry">
         <action
               class="org.openscada.da.client.signalgenerator.action.ShowGenerator"
               enablesFor="1"
               icon="icons/thread_obj.gif"
               id="org.openscada.da.client.test.actions.ShowGenerator"
               label="%action.signalGenerator.name"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.signalGenerator.objectContribution1"
            objectClass="org.openscada.da.client.base.realtime.ListEntry">
         <action
               class="org.openscada.da.client.signalgenerator.action.ShowGenerator"
               enablesFor="1"
               icon="icons/thread_obj.gif"
               id="org.openscada.da.client.test.actions.ShowGenerator"
               label="%action.signalGenerator.name"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
