<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.openscada.da.client.chart.ChartView"
            id="org.openscada.da.client.chart.ChartView"
            name="Chart View"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.chart.oc1"
            objectClass="org.openscada.da.client.test.impl.DataItemEntry">
         <action
               class="org.openscada.da.client.chart.OpenChartAction"
               id="org.openscada.da.client.chart.OpenChartAction"
               label="View as Chart"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.chart.oc2"
            objectClass="org.openscada.da.client.test.views.realtime.ListEntry">
         <action
               class="org.openscada.da.client.chart.OpenChartAction"
               id="org.openscada.da.client.chart.OpenChartAction"
               label="View as Chart"
               menubarPath="additions"/>
      </objectContribution>
   </extension>

</plugin>
