<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openscada.ae.ui.perspectives.Perspective"
            icon="icons/releng_gears.gif"
            id="org.openscada.ae.ui.perspectives.perspective"
            name="AE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.openscada.rcp.client.perspective">
         <perspectiveShortcut
               id="org.openscada.ae.ui.perspectives.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.openscada.ae.ui.perspectives.perspective">
         <view
               closeable="false"
               id="org.openscada.ae.ui.views.ConnectionsView"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.openscada.ae.ui.views.ConnectionsView"
            id="org.openscada.ae.ui.views.ConnectionsView"
            name="Connections"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.ae.ui.oc.ConnectionEntry"
            objectClass="org.openscada.ae.ui.data.ConnectionEntryBean">
         <action
               class="org.openscada.ae.ui.actions.DisconnectAction"
               enablesFor="1"
               id="org.openscada.ae.ui.actions.DisconnectAction"
               label="Disconnect"
               menubarPath="additions">
         </action>
         <action
               class="org.openscada.ae.ui.actions.ConnectAction"
               enablesFor="1"
               id="org.openscada.ae.ui.actions.ConnectAction"
               label="Connect"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
