<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/openscada_da_client_samples"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.openscada.da.client.samples.Sample3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="da:ice://hive/?hive=hive%3Atcp+-p+10001&amp;secure=false&#10;org.openscada.da.client.ice.Connection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="openscada_da_client_samples"/>
</launchConfiguration>
