<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.openscada.da.client.dataitem.details.DetailsViewPart" name="Details View Part" schema="schema/org.openscada.da.client.dataitem.details.DetailsViewPart.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.openscada.da.ui.category"
            class="org.openscada.da.client.dataitem.details.DetailsViewPart"
            id="org.openscada.da.client.dataitem.details.DetailsViewPart"
            name="%view.dataItemDetails.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution1"
            objectClass="org.openscada.da.client.base.browser.HiveItem">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution2"
            objectClass="org.openscada.da.client.base.realtime.ListEntry">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution3"
            objectClass="org.openscada.da.client.base.browser.DataItemEntry">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.openscada.da.client.dataitem.details.DetailsViewPart">
      <detailsPart
            class="org.openscada.da.client.dataitem.details.part.overview.OverviewDetailsPart"
            name="%detailsPart.overview.name"
            sortKey="0000">
      </detailsPart>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openscada.da.client.dataitem.details.commands.OpenDetailsView"
            commandId="org.openscada.da.client.dataitem.details.openDetails">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
                     <instanceof
                           value="org.openscada.da.ui.connection.data.Item">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.openscada.core.ui.connection.ConnectionView#PopupMenu">
         <command
               commandId="org.openscada.da.client.dataitem.details.openDetails"
               label="Data Item Details"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <adapt
                           type="org.openscada.da.ui.connection.data.Item">
                     </adapt>
                     <instanceof
                           value="org.openscada.da.ui.connection.data.Item">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.openscada.da.ui.category"
            id="org.openscada.da.client.dataitem.details.openDetails"
            name="Data Item Details">
      </command>
   </extension>

</plugin>
