<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.openscada.da.client.dataitem.details.DetailsViewPart" name="Details View Part" schema="schema/org.openscada.da.client.dataitem.details.DetailsViewPart.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.openscada.da.client.dataitem.details.DetailsViewPart"
            id="org.openscada.da.client.dataitem.details.DetailsViewPart"
            name="%view.dataItemDetails.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution1"
            objectClass="org.openscada.da.client.base.browser.HiveItem">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution2"
            objectClass="org.openscada.da.client.base.realtime.ListEntry">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.openscada.da.client.dataitem.details.objectContribution3"
            objectClass="org.openscada.da.client.base.browser.DataItemEntry">
         <action
               class="org.openscada.da.client.dataitem.details.ShowDetailsAction"
               enablesFor="1"
               id="org.openscada.da.client.dataitem.details.DataItemDetails"
               label="%action.dataItemDetails.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.openscada.da.client.dataitem.details.DetailsViewPart">
      <detailsPart
            class="org.openscada.da.client.dataitem.details.part.overview.OverviewDetailsPart"
            name="%detailsPart.overview.name"
            sortKey="0000">
      </detailsPart>
   </extension>

</plugin>
