<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.openscada.da.category"
            name="%category.openscada.da.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.openscada.da.category"
            name="%category.openscada.da.name">
      </category>
   </extension>

</plugin>
